# Created by https://www.toptal.com/developers/gitignore/api/venv
# Edit at https://www.toptal.com/developers/gitignore?templates=venv

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
venv/
pip-selfcheck.json
mysettings.py
__pycache__/
*.pyc
__init__.py
# mysettings.py 는 DB 정보 및 비밀키가 포함되어 있는 공간입니다.

# End of https://www.toptal.com/developers/gitignore/api/venv